{% extends 'base.html.twig' %}

{% block title %}Desafio 1 Daniel Lanza Baraja{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }
    </style>

    <div class="example-wrapper">
        <h1>Desafio 1 Daniel Lanza Baraja</h1>

        <ul>
            <li>Extensión utilizada: src/Twig/NumbersExtension.php</li>
            <li>Controlador usado: src/Controller/NumbersController.php</li>
            <li>Plantilla utilizada: templates/numbers/desafio1.html.twig</li>
        </ul>

        {#Extension#}
        <p>
            {{ calculateFizzBuzz(1,30) }}
        </p>
    </div>
{% endblock %}
