{% extends 'base.html.twig' %}

{% block title %}Desafio 2 Daniel Lanza Baraja{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }
    </style>

    <div class="example-wrapper">
        <h1>Desafio 2 Daniel Lanza Baraja</h1>

        <ul>
            <li>Controlador usado: src/Controller/NumbersController.php</li>
            <li>Plantilla utilizada: templates/numbers/desafio2.html.twig</li>
            <li>Entidad utilizada: src/Entity/Number.php</li>
            <li>Formulario utilizado: src/Form/FizzbuzzType.php</li>
            <li>Servicio utilizado: src/Service/calculateFizzBuzz2.php</li>
        </ul>

        {#Extension#}
        <p>
            {{ form(form) }}
        </p>

        <p>
            {% if data is defined %}
                {{ data }}
            {% endif %}
        </p>
    </div>
{% endblock %}
